<main>
  <section class="container">
    <h1 class="my-5 ">Club Deportivo</h1>
    <div class="container-tarjetas">

      <article class="tarjeta mb-5 border border-dark p-3">
        <h3>CREAR DEPORTE</h3>
        <p>1. Crear una ruta que reciba el nombre y precio de un nuevo deporte, lo
          persista en un archivo JSON.</p>
        <button type="button " class="btn btn-primary d-block mx-auto"><a href="/crear"><i
              class="bi bi-plus-circle-fill"></i> Crear</a></button>
      </article>

      <article class="tarjeta mb-5 border border-dark p-3">
        <h3>LEER DEPORTES</h3>
        <p>2. Crear una ruta que al consultarse devuelva en formato JSON todos los
          deportes registrados.</p>
        <button type="button " class="btn btn-success d-block mx-auto"><a href="/leer"><i class="bi bi-table"></i>
            Leer</a></button>
      </article>

      <article class="tarjeta mb-5 border border-dark p-3">
        <h3>MODIFICAR DEPORTE</h3>
        <p>3. Crear una ruta que edite el precio de un deporte registrado
          utilizando los parámetros de la consulta y persista este cambio.</p>
        <button type="button " class="btn btn-dark d-block mx-auto"><a href="/editar"><i class="bi bi-pencil-fill"></i>
            Modificar</a></button>
      </article>

      <article class="tarjeta mb-5 border border-dark p-3">
        <h3>ELIMINAR DEPORTE</h3>
        <p>4. Crear una ruta que elimine un deporte solicitado desde el cliente y
          persista este cambio.</p>
        <button type="button " class="btn btn-secondary d-block mx-auto"><a href="/eliminar"><i
              class="bi bi-trash-fill"></i> Eliminar</a></button>
      </article>

    </div>


  </section>
</main>